/*body {*/
/*!*background-color: #ddd;*!*/
/*font: 12px "Roboto", Helvetica, Arial, sans-serif;*/
/*!*padding: 20px;*!*/
/*}*/

#container {
    background-color: white;
    position: absolute;
    left:   10px;
    right:  10px;
    top:    10px;
    bottom: 10px;
}

.vis-container{
    background-color: #90EE90;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 229px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Axis CSS from bar chart example http://bl.ocks.org/mbostock/3885304 */
/*.axis {*/
/*font: 10px sans-serif;*/
/*}*/

/*.axis path,*/
/*.axis line {*/
/*fill: none;*/
/*stroke: #000;*/
/*shape-rendering: crispEdges;*/
/*}*/

/*!* Custom CSS for axis labels. *!*/
/*.axis-label {*/
/*text-anchor: middle;*/
/*font-size: 1.3em;*/
/*}*/

/**
* Angular Material Design
**/
md-toolbar-filler {
    margin: 0;
    color: white;
}

.md-toolbar-tools {
    margin: 0;
    color: white;
}

md-radio-button {
    display: inline;
}

#chiasm-container {
    height: 500px;
    padding: 0;
    position: relative;
}

/* Style the brush. Draws from http://bl.ocks.org/mbostock/4343214 */
.brush .extent {
    stroke: black;
    fill-opacity: .2;
    shape-rendering: crispEdges;
}

.widget-container {
    margin-top: 30px;
}

.axis {
    font-family: 'Montserrat', sans-serif;
}

.axis text {
    font-size: 12pt;
}

.axis .label {
    font-size: 24pt;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.md-display-2 {
    margin-bottom: 0;
}




img {
    vertical-align: middle;
}

input {
    font: inherit;
    margin: 0;
}

.span-save {
    text-decoration: none;
    vertical-align: middle;
}

.margins {
    margin-top: 2px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.padding {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
}

.rounded-box {
    border-width: 0;
    border-radius: 4px;
}


.md-list-item-inner {
    color: black;
}

.dark-blue-bg {
    background-color: #0d24c6;
}

.medium-blue-bg {
    background-color: #182ff5;
}

.text-on-blue {
    color: #e1e1e1;
}

.sidebar-heading {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    font-size: 1.3em;
}

.sidebar-heading-skin {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #071720;
}

.sidebar-item-borders {
    color: inherit;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #304050;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #071720;
    border-right-width: 0;
    border-left-width: 0;
}

.sidebar-item-borders:last-child {
    border-bottom-width: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.sidebar-item {
    display: block;
    padding: 5px 15px;
    position: relative;
    color: inherit;
    text-decoration: inherit;
}

.sidebar-item-inactive {
    cursor: pointer;
}

/* highlight hovered item a bit... */
a:hover.sidebar-item {
    color: #eee;
    text-decoration: inherit;
}

/* ...but not if it is already selected */
a:hover.sidebar-item-active {
    color: inherit;
    text-decoration: inherit;
}

/* needs to be defined after sidebar-item */
.sidebar-item-active {
    font-weight: bold;
    border-top-color: #031017;
    border-bottom-color: #203040;
    background-image: none;
    background-color: rgba(24, 47, 245, 0.28);
    cursor: default;
}

/* in headline */
.current-item {
    font-size: 18px;
    font-weight: bold;
    height: 28px;
    line-height: 36px;
}

.current-item-edit {
    width: 80%;
    color: #333;
    line-height: 18px;
}

.todo-text {
    height: 200px;
    background-color: #eee;
}

.todo-text-edit {
    width: 97%;
}

.footer {
    font-size: small;
    width: 100%;
    text-align: center;
}
