<div class="buttondemoBasicUsage" ng-controller="ButtonsDemo1Ctrl" ng-cloak="">
    <md-content>
        <h2 class="md-display-1" layout-padding>
            <a href="https://material.angularjs.org/latest/demo/button">Demo Button Basic Usage</a>
        </h2>


        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
            <md-button>{{title1}}</md-button>
            <md-button md-no-ink="" class="md-primary">Primary (md-noink)</md-button>
            <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
            <md-button class="md-warn">{{title4}}</md-button>
            <div class="label">Flat</div>
        </section>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
            <md-button class="md-raised">Button</md-button>
            <md-button class="md-raised md-primary">Primary</md-button>
            <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
            <md-button class="md-raised md-warn">Warn</md-button>
            <div class="label">Raised</div>
        </section>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
            <md-button class="md-fab" aria-label="Eat cake">
                <md-icon md-svg-src="features/material-demo/img/icons/ic_cake_24px.svg" style="color: greenyellow;"></md-icon>
            </md-button>

            <md-button class="md-fab md-primary" aria-label="Use Android">
                <md-icon md-svg-icon="navigation:check"></md-icon>
            </md-button>

            <md-button class="md-fab" ng-disabled="true" aria-label="Comment">
                <md-icon md-svg-src="features/material-demo/img/icons/ic_comment_24px.svg"></md-icon>
            </md-button>

            <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
                <md-icon md-svg-src="features/material-demo/img/icons/ic_people_24px.svg"></md-icon>
            </md-button>

            <md-button class="md-fab md-mini" aria-label="Eat cake">
                <md-icon md-svg-src="features/material-demo/img/icons/ic_cake_24px.svg"></md-icon>
            </md-button>

            <md-button class="md-fab md-mini md-primary" aria-label="Check">
                <md-icon md-svg-icon="navigation:check"></md-icon>
            </md-button>
            <div class="label">FAB</div>
        </section>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
            <md-button ng-href="{{googleUrl}}" target="_blank">Default Link</md-button>
            <md-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">Primary Link</md-button>

            <md-button>Default Button</md-button>
            <div class="label">Link vs. Button</div>
        </section>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
            <md-button class="md-primary md-hue-1">Primary Hue 1</md-button>
            <md-button class="md-warn md-raised md-hue-2">Warn Hue 2</md-button>
            <md-button class="md-accent">Accent</md-button>
            <md-button class="md-accent md-raised md-hue-1">Accent Hue 1</md-button>
            <div class="label">Themed</div>
        </section>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
            <md-button class="md-icon-button md-primary" aria-label="Settings">
                <md-icon md-svg-icon="features/material-demo/img/icons/menu.svg" ></md-icon>
            </md-button>
            <md-button class="md-icon-button md-accent" aria-label="Favorite">
                <md-icon md-svg-icon="features/material-demo/img/icons/heart.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Home">
                <md-icon md-svg-icon="features/material-demo/img/icons/home.svg"></md-icon>
            </md-button>
            <md-button href="http://google.com" title="Launch Google.com in new window" target="_blank" ng-disabled="true" aria-label="Google.com" class="md-icon-button launch">
                <md-icon md-svg-icon="navigation:more_horiz"></md-icon>
            </md-button>
            <div class="label">Icon Button</div>
        </section>
    </md-content>
</div>

<div ng-controller="CheckboxDemo1Ctrl" class="md-padding checkboxdemoSyncing" ng-cloak="" style="height:330px">
    <h2 class="md-display-1">
        <a href="https://material.angularjs.org/latest/demo/checkbox">Demo Checkbox Syncing</a>
    </h2>

    <div layout="row" layout-wrap="" layout-padding>

        <div flex="100" flex-gt-sm="50" layout="column">
            <fieldset class="standard" flex="">
                <legend>Using <code>md-checkbox</code> with <code>ng-checked</code></legend>
                <div layout="row" layout-wrap="" flex="" >
                    <div flex="50" ng-repeat="item in items" class="checkboxDemo1">
                        <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)" label="md-checkbox">
                            {{ item }} <span ng-if="exists(item, selected)">selected</span>
                        </md-checkbox>
                    </div>
                    <md-checkbox ng-model="truthy" ng-checked="true" label="md-checkbox" class="md-warn">{{truthy}}</md-checkbox>
                </div>
            </fieldset>
        </div>

        <div flex="100" flex-gt-sm="50" layout="column">
            <fieldset class="standard" flex="">
                <legend>Using <code>&lt;input type="checkbox"&gt;</code></legend>
                <div layout="row" layout-wrap="" flex="">
                    <div ng-repeat="item in items" class="standard" flex="50">
                        <label>
                            <input type="checkbox" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                            {{ item }}
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>

    <div layout="column" layout-padding>
        <h2 class="md-title">Selected Items</h2>
        <code style="display: block; padding: 8px;">{{selected | json}}</code>
    </div>
</div>

<div class="radioButtondemoBasicUsage" layout="column" layout-padding>
    <h2 class="md-display-1" layout-padding>
        <a href="https://material.angularjs.org/latest/demo/radioButton">Demo Radio Button Basic Usage</a>
    </h2>
    <form ng-submit="submit()" ng-controller="RadioButtondemoBasicUsageCtrl">
        <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span> </p>

        <md-radio-group ng-model="data.group1">

            <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
            <md-radio-button value="Banana"> Banana </md-radio-button>
            <md-radio-button value="Mango">Mango</md-radio-button>

        </md-radio-group>

        <hr>

        <p>Selected Value: <span class="radioValue">{{ data.group2 }}</span></p>

        <md-radio-group ng-model="data.group2" class="md-primary">

            <md-radio-button ng-repeat="d in radioData" ng-value="d.value" ng-disabled=" d.isDisabled " ng-class="{'md-align-top-left': $index==1}">
                {{ d.label }}<br>
          <span class="ipsum" ng-if="$index == 1">
            Duis placerat lectus et justo mollis, nec sodales orci congue. Vestibulum semper non urna ac suscipit.
            Vestibulum tempor, ligula id laoreet hendrerit, massa augue iaculis magna,
            sit amet dapibus tortor ligula non nibh.
          </span>

            </md-radio-button>

        </md-radio-group>

        <p>
            <md-button class="md-raised" ng-click="addItem()" type="button">Add</md-button>
            <md-button class="md-raised" ng-click="removeItem()" type="button">Remove</md-button>
        </p>

        <hr>

        <p style="margin-bottom: 0;">Graphic radio buttons need to be labeled with the <code>aria-label</code> attribute.</p>
        <p style="margin-top: 0;">Selected Avatar: <span class="radioValue">{{ data.group3 }}</span></p>

        <md-radio-group ng-model="data.group3">
            <md-radio-button ng-repeat="it in avatarData" ng-value="it.value" aria-label="{{it.title}}">
                <md-icon md-svg-icon="{{it.id}}"></md-icon>
            </md-radio-button>
        </md-radio-group>
    </form>
</div>